.card-title{
    text-align:center;
    background-color: black;
    color:white;
}

.card-body{
    text-align:center;
    background-color: rgb(240, 235, 235);
}

.row{
    row-gap: 10px;
    justify-content: space-around;
}

.card{
    height:440px;
    box-sizing: border-box;
}
